$width: 600px;
$float: 1.5;
$int: 20;

$image-url: '/images/';
$no-repeat: no-repeat;

$btn-text: btn-text;

$list: 1px 2px 3px black, 3px 2px 1px red;

$null: null;
$isTrue: true;

$map: ("key1": "value1", "color": blue);